<nav
  class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        [routerLink]="['/']"
        class="text-blueGray-700 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        href="/"
      >
        Plumber.com
      </a>
    </div>
    <div
      class="lg:flex flex-grow items-center"
      [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
      id="example-navbar-warning"
    >
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <!-- Not logged -->
        <li class="flex items-center" *ngIf="!user && router.url.indexOf('/#/login')<0">
          <a 
            href="/login"
          >
            <button
              class="bg-lightBlue-600 text-white active:bg-lightBlue-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
              type="button"
            >
              <i class="fas fa-sign-in-alt mr-1"></i> Log in
            </button>
          </a>
        </li>
        <!-- Logged -->
        <li class="flex items-center mr-2" *ngIf="user">
          <a href="/#/past"> Past Services</a>
        </li>
        <li class="flex items-center" *ngIf="user">
          <a 
            onclick="alert('Soon available')"
            *ngIf="user"
          >
            <button
              class="bg-lightBlue-600 text-white active:bg-lightBlue-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
              type="button"
            >
              <i class="far fa-user mr-1"></i> My account
            </button>
          </a>
        </li>
        <li class="flex items-center" *ngIf="user">
          <a 
            (click)="logOut()"
            *ngIf="user"
          >
            <button class="text-lightBlue-500 bg-transparent border border-solid border-lightBlue-500 hover:bg-lightBlue-500 hover:text-white active:bg-lightBlue-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
              <i class="fas fa-sign-out-alt mr-1"></i> Log out
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
