<service-navbar></service-navbar>

<main class="flex-self-stretch">
    <section class="relative block h-500-px">
        <div
            class="absolute top-0 w-full h-full bg-center bg-cover"
            style="
            background-image: url('assets/img/water.jpg');
            "
        >
            <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-50 bg-black"
            ></span>
        </div>
        <div
            class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
            style="transform: translateZ(0)"
        >
            <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
            >
            <polygon
                class="text-blueGray-200 fill-current"
                points="2560 0 2560 100 0 100"
            ></polygon>
            </svg>
        </div>
    </section>
    <section class="pb-20 bg-blueGray-200" style="margin-top: -10rem;">
        <div class="relative container mx-auto px-4  break-words bg-white w-10/12 mb-8  shadow-lg rounded-lg">
            <div class="flex flex-wrap  text-center">
                <div class="w-full px-4 flex-1">
                    <h2 class="text-4xl mt-10 mb-8 font-semibold" >{{contract.providerService.service.name}}</h2>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="w-full px-4 flex-1">
                    <p class="w-full text-xl text-center text-blueGray-400 ">
                        <strong>Areas:</strong>
                        <span *ngFor="let c of contract.providerService.provider.location_city"><br/>{{c.name}} city, district of {{c.district.name}}</span>
                        <span *ngFor="let d of contract.providerService.provider.location_district"><br/>{{d.name}} district</span>
                    </p>
                    <br/>
                </div>
                <div class="w-full px-4 flex-1">
                    <p class="w-full text-xl text-center text-blueGray-400 ">
                        <a [href]="'/services/' + contract.id + '/provider'">
                            <strong>Provider:</strong><br/>{{contract.providerService.provider.full_name}}
                        </a>
                    </p>
                    <br/>
                </div>
            </div>

            <div class="flex flex-wrap">
                <div class="w-full px-4 flex-1">
                    <p class="w-full text-xl text-center text-blueGray-400 ">
                        <strong>Price: </strong> {{contract.businessService.price}}€
                        
                    </p>
                    <p class="small text-blueGray-400 text-center" *ngIf="contract.businessService.service.hasExtras"><small>Extra fees may apply</small></p>
                </div>
            </div>
            <div class="flex flex-wrap ">
                <div class="w-full px-4 flex-1">
                    <p class="w-full mt-5 text-xl text-center text-blueGray-400 ">
                        <strong>Description </strong>
                    </p>
                    <p class="w-full mb-5 text-xl text-center text-blueGray-400 ">
                        {{contract.providerService.description}}
                    </p>
                </div>                  
            </div>
        </div>
    </section>
    <section class="pb-20 bg-blueGray-200 -mt-20" *ngIf="contract.status == 'FINNISHED'">
        <div class="relative container mx-auto px-4 w-10/12 break-words bg-white mb-8  shadow-lg rounded-lg">
            <div class="flex flex-wrap  text-center">
                <div class="w-full px-4 flex-1">
                    <h2 class="text-2xl mt-10 mb-4 font-semibold" *ngIf="contract.review == 0">Review This Service</h2>
                    <h2 class="text-2xl mt-10 mb-4 font-semibold" *ngIf="contract.review != 0">Your review</h2>
                </div>
            </div>
            <div class="flex flex-wrap text-center flex-1">
                <div class="w-full px-4 flex-1"></div>
                <div class="w-full px-4 flex-1">
                    <p class="w-full mt-4 mb-8 text-2xl text-center text-blueGray-400 ">
                        <i (click)="rate(1)" [class]="user_rate <= 0 ? 'far fa-star mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                        <i (click)="rate(2)" [class]="user_rate <= 1 ? 'far fa-star mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                        <i (click)="rate(3)" [class]="user_rate <= 2 ? 'far fa-star mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                        <i (click)="rate(4)" [class]="user_rate <= 3 ? 'far fa-star mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                        <i (click)="rate(5)" [class]="user_rate <= 4 ? 'far fa-star mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                    </p>
                </div>
                <div class="w-full px-4 flex-1" *ngIf="contract.review == 0">
                    <button (click)="submitReview()"  class="bg-lightBlue-500  mt-2 mb-8 text-white active:bg-lightBlue-600 font-bold uppercase text-base px-4 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                        Submit Review
                    </button>
                </div>
                <div class="w-full px-4 flex-1"> </div>
            </div>
        </div>
    </section>
</main>
<service-footer></service-footer>