<service-navbar></service-navbar>

<main>
    <section class="relative block h-500-px">
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style="
            background-image: url('assets/img/water.jpg');
          "
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-50 bg-black"
          ></span>
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
          style="transform: translateZ(0)"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-blueGray-200 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </section>
      <section class="pb-20 bg-blueGray-200" style="margin-top: -10rem;">
        <div class="relative container mx-auto px-4  break-words bg-white w-full mb-8  shadow-lg rounded-lg">
                <div class="flex flex-wrap  text-center">
                    <div class="w-full px-4 flex-1">
                        <h2 class="text-4xl mt-10 mb-8 font-semibold" >{{service.name}}</h2>
                    </div>
                    <div class="w-full px-4 flex-1">
                        <p class="w-full mt-10 mb-8 text-2xl text-center text-blueGray-400 ">
                            <i [class]="(service.rate <= 0 || service.rate==null) ? 'far fa-star mr-1' : (service.rate  > 0 && service.rate  < 1) ? 'fas fa-star-half-alt mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                            <i [class]="(service.rate <= 1 || service.rate==null) ? 'far fa-star mr-1' : (service.rate  > 1 && service.rate  < 2) ? 'fas fa-star-half-alt mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                            <i [class]="(service.rate <= 2 || service.rate==null) ? 'far fa-star mr-1' : (service.rate  > 2 && service.rate  < 3) ? 'fas fa-star-half-alt mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                            <i [class]="(service.rate <= 3 || service.rate==null) ? 'far fa-star mr-1' : (service.rate  > 3 && service.rate  < 4) ? 'fas fa-star-half-alt mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                            <i [class]="(service.rate <= 4 || service.rate==null) ? 'far fa-star mr-1' : (service.rate  > 4 && service.rate  < 5) ? 'fas fa-star-half-alt mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                            ({{service.number_reviews}} reviews)
                        </p>
                        <br/>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="w-full px-4 flex-1">
                        <p class="w-full text-xl text-center text-blueGray-400 ">
                            <strong>Area: </strong>{{service.area}}
                        </p>
                        <br/>
                    </div>
                    <div class="w-full px-4 flex-1">
                        <p class="w-full text-xl text-center text-blueGray-400 ">
                            <a href="/provider">
                                <strong>Provider: </strong>{{service.provider.name}}
                            </a>
                        </p>
                        <br/>
                    </div>
                </div>

                <div class="flex flex-wrap">
                    <div class="w-full px-4 flex-1">
                        <p class="w-full text-xl text-center text-blueGray-400 ">
                            <strong>Category: </strong>{{service.category}}
                        </p>
                    </div>
                    <div class="w-full px-4 flex-1">
                        <p class="w-full text-xl text-center text-blueGray-400 ">
                            <strong>Price: </strong> {{service.price}}€
                            
                        </p>
                        <p class="small text-blueGray-400 text-center" *ngIf="service.hasExtras"><small>Extra fees may apply</small></p>
                    </div>
                </div>
                <div class="flex flex-wrap ">
                    <div class="w-full px-4 flex-1">
                        <p class="w-full mt-5 text-xl text-center text-blueGray-400 ">
                            <strong>Description </strong>
                        </p>
                        <p class="w-full mb-5 text-xl text-center text-blueGray-400 ">
                            {{service.description}}
                        </p>
                    </div>                  
                </div>
                <div class="flex flex-wrap ">
                    <div class="w-full px-4 text-center flex-1">
                        <button class="bg-lightBlue-500  mb-5 text-white active:bg-lightBlue-600 font-bold uppercase text-base px-4 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                            Request This Service 
                          </button>
                          
                    </div>
                                   
                </div>

            </div>
        </section>
        <section class="pb-20 bg-blueGray-200 -mt-20">
            <div class="relative container mx-auto px-4  break-words bg-white w-full mb-8  shadow-lg rounded-lg">
                <div class="flex flex-wrap  text-center">
                    <div class="w-full px-4 flex-1">
                        <h2 class="text-2xl mt-10 mb-4 font-semibold" >Review This Service</h2>
                    </div>
                </div>
                <div class="flex flex-wrap  text-center">
                    <div class="w-full px-4 flex-1"> </div>
                    <div class="w-full px-4 flex-1">
                        <p class="w-full mt-4 mb-8 text-2xl text-center text-blueGray-400 ">
                            <i (click)="rate(1)" [class]="user_rate <= 0 ? 'far fa-star mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                            <i (click)="rate(2)" [class]="user_rate <= 1 ? 'far fa-star mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                            <i (click)="rate(3)" [class]="user_rate <= 2 ? 'far fa-star mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                            <i (click)="rate(4)" [class]="user_rate <= 3 ? 'far fa-star mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                            <i (click)="rate(5)" [class]="user_rate <= 4 ? 'far fa-star mr-1' : 'fas fa-star mr-1'" style="color: dodgerblue;"></i>
                        </p>
                        <br/>
                    </div>
                    <div class="w-full px-4 flex-1">
                        <button class="bg-lightBlue-500  mt-2 mb-8 text-white active:bg-lightBlue-600 font-bold uppercase text-base px-4 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                            Submit Review
                          </button>
                    </div>
                    <div class="w-full px-4 flex-1"> </div>
                </div>
            </div>
        </section>
</main>
<service-footer></service-footer>