<nb-layout windowMode>
    <nb-layout-header fixed>
        <ngx-header></ngx-header>
    </nb-layout-header>
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <nb-menu [items]="menu"></nb-menu>
    </nb-sidebar>
    <nb-layout-column>
        <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
            <nb-card-header>
                <h3>Business data</h3>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="businessDataForm" class="form d-flex flex-column">

                    <div class="form-group">
                        <label for="fistName">Company name</label>
                        <input 
                            nbInput 
                            style="max-width: 100%;" 
                            placeholder="Enter the company"
                            id="companyName" 
                            class="form-control" 
                            required 
                            formControlName="companyName"
                        >
                    </div>
                    <div class="form-group">
                        <label>VAT Number</label>
                        <input nbInput style="max-width: 100%;" placeholder="Enter your VAT"
                            class="form-control" required formControlName="vat">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input nbInput style="max-width: 100%;" placeholder="Enter your fiscal address"
                            class="form-control" required formControlName="address">
                    </div>
                    
                    <div class="row" style="margin-top: 2rem;">
                        <button (click)="editProfile()" nbButton class="col-1 ml-auto mr-3"  status="warning">Edit</button>
                        <button (click)="saveProfile()" nbButton class="col-1 mr-auto" [disabled]="formDisabled" status="success">Save</button>
                    </div>
                    
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
<nb-layout-footer></nb-layout-footer>
</nb-layout>
