<nb-layout windowMode>
    <nb-layout-header fixed>
        <ngx-header></ngx-header>
    </nb-layout-header>
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <nb-menu [items]="menu"></nb-menu>
    </nb-sidebar>
    <nb-layout-column>
        <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
            <nb-card-header>
                <h3>Business data</h3>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="businessDataForm" class="form d-flex flex-column">

                    <div class="form-group">
                        <label for="fistName">Company name</label>
                        <input 
                            nbInput 
                            style="max-width: 100%;" 
                            placeholder="Enter the company"
                            id="companyName" 
                            class="form-control" 
                            required 
                            formControlName="companyName"
                        >
                    </div>
                    <div class="form-group">
                        <label>VAT Number</label>
                        <input nbInput style="max-width: 100%;" placeholder="Enter your VAT"
                            class="form-control" required formControlName="vat">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input nbInput style="max-width: 100%;" placeholder="Enter your fiscal address"
                            class="form-control" required formControlName="address">
                    </div>
                    
                    <div class="form-group">
                        <label>Country</label>
                        <nb-select 
                            nbInput
                            class="col-12 p-0" 
                            style="max-width: 100%;" 
                            placeholder="" 
                            [disabled]="formDisabled"
                            [(selected)]="selectedCountry"
                            formControlName="country"
                        >
                            <nb-option value="0">Portugal</nb-option>
                            <nb-option value="1">Spain</nb-option>
                            <nb-option value="2">France</nb-option>
                            <nb-option value="3">Germany</nb-option>
                        </nb-select>
                    </div>

                    <div class="form-group">
                        <label>Coverage</label>
                        <nb-select 
                            class="col-12 p-0" 
                            style="max-width: 100%;" 
                            placeholder="" 
                            [(selected)]="selectedCoverage" 
                            [disabled]="formDisabled"
                        >
                            <nb-option value="0">Regional</nb-option>
                            <nb-option value="1">National</nb-option>
                            <nb-option value="2">Continental</nb-option>
                            <nb-option value="3">Worldwide</nb-option>
                        </nb-select>
                    </div>
                    
                    <div class="form-group">
                        <label>Business area</label>
                        <nb-select 
                            class="col-12 p-0" 
                            style="max-width: 100%;" 
                            placeholder="" 
                            [(selected)]="selectedCategory"
                            [disabled]="formDisabled"
                        >
                            <nb-option value="0">Diverse</nb-option>
                            <nb-option value="1">House maintenance</nb-option>
                            <nb-option value="2">Human care</nb-option>
                            <nb-option value="3">Cooking</nb-option>
                        </nb-select>
                    </div>


                    <div class="form-group">
                        <label>Operation date (prevision)</label>
                        <input 
                            nbInput 
                            style="max-width: 100%;"
                            placeholder="Enter the date your business is expected to be operating"
                            class="form-control" 
                            [nbDatepicker]="formpicker" 
                            [disabled]="formDisabled"
                            formControlName="operationstart"
                        >
                        <nb-datepicker [min]="minDate" #formpicker></nb-datepicker>
                    </div>

                    <div class="form-group d-flex flex-column">
                        <button nbButton  [disabled]="formDisabled" class="p-3 mx-auto ml-auto mr-3 col-3">
                            <img style="max-width: 10%; margin-right: 5%;" src="../../assets/images/google.png">
                            <span>Change Google Account</span>
                        </button>                
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <button (click)="editProfile()" nbButton class="col-1 ml-auto mr-3"  status="warning">Edit</button>
                        <button (click)="saveProfile()" nbButton class="col-1 mr-auto" [disabled]="formDisabled" status="success">Save</button>
                    </div>
                    
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
<nb-layout-footer></nb-layout-footer>
</nb-layout>
