<nb-layout windowMode>
    <nb-layout-header fixed>
        <ngx-header></ngx-header>
    </nb-layout-header>
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <nb-menu [items]="menu"></nb-menu>
    </nb-sidebar>
    <nb-layout-column>
        <form>
            <div class="form-group row" style="margin-bottom: 2%;">
                <div class="col-sm-1" style="align-items: center; text-align: right; display: flex;">
                    <p style="margin-bottom: 0; ">Status:</p>
                </div>
                <div class="col-sm-4">
                    <nb-select class="w-100" name="statusSelect" (selectedChange)="getContracts()"  [(ngModel)]="statusSelected"> 
                        <nb-option *ngFor="let s of  status"  [value]="s.id"> {{s.name}}</nb-option>
                    </nb-select>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-1" style="align-items: center; text-align: right; display: flex;">
                    <p style="margin-bottom: 0; ">Order:</p>
                </div>
                <div class=" col-sm-3">  
                    <nb-select class="w-100" name="orderSelect" (selectedChange)="getContracts()" [(ngModel)]="orderSelected"> 
                        <nb-option *ngFor="let o of order"  [value]="o.id"> {{o.name}}</nb-option>
                    </nb-select>
                </div>
            </div>
        </form>
        <div class="d-flex flex-row flex-wrap">
            <div class="col-4 p-4 d-flex" *ngFor="let sc of serviceContracts">
                <nb-card class="col-12" [accent]="sc.status.valueOf()=='WAITING' ? 'warning' : (sc.status.valueOf()=='ACCEPTED' ? 'success' : (sc.status.valueOf()=='FINNISHED'? 'primary': 'basic'))">
                    <nb-card-header class="d-flex flex-column">
                        <nb-user 
                            class="mx-auto my-3"
                            size="large"
                            [name]="sc.client.full_name"
                            badgeStatus="success"
                            badgePosition="bottom right"
                        >
                        </nb-user>
                        <p class="col-12 text-center font-weight-bold">{{sc.providerService.service.name}} </p>
                        
                        <div class="d-flex flex-column col-12">
                            <nb-tag class="mx-auto mb-1" status="warning" *ngIf="sc.status.valueOf()=='WAITING'" appearance="filled" text="Not accepted"></nb-tag>
                            <nb-tag class="mx-auto mb-1" status="success" *ngIf="sc.status.valueOf()=='ACCEPTED'" appearance="filled" text="Accepted"></nb-tag>
                            <nb-tag class="mx-auto mb-1" status="primary" *ngIf="sc.status.valueOf()=='FINNISHED'" appearance="filled" text="job finished"></nb-tag>
                            <nb-tag class="mx-auto mb-1" status="basic" *ngIf="sc.status.valueOf()=='REJECTED'" appearance="filled" text="job rejected"></nb-tag>
                            <nb-tag class="mx-auto mb-1" [status]="sc.status.valueOf()=='WAITING' ? 'warning' : (sc.status.valueOf()=='ACCEPTED' ? 'success' : (sc.status.valueOf()=='FINNISHED'? 'primary': 'basic'))" appearance="outline" [text]="sc.date[3]+':'+sc.date[4]+':'+sc.date[5]"></nb-tag>
                        </div>
                    </nb-card-header>
                    <nb-card-body class="d-flex flex-column">
                        <dl class="mb-4">
                            <dt>Address</dt>
                            <dd>{{sc.client.address}}</dd>
                            <dt>{{sc.status}}</dt>
                            <dd>{{sc.date[0]}}/{{sc.date[1]}}/{{sc.date[2]}}</dd>
                            <dt *ngIf="sc.status.valueOf()=='FINNISHED'">Collected</dt>
                            <dd *ngIf="sc.status.valueOf()=='FINNISHED'">{{sc.businessService.price}}€</dd>
                        </dl>
                        <div class="d-flex flex-column mt-auto">
                            <button *ngIf="sc.status.valueOf()=='WAITING'" nbButton status="warning" (click)="acceptContract(sc.id)" class="mx-auto">Accept</button>
                            <button *ngIf="sc.status.valueOf()=='ACCEPTED'" nbButton status="success" (click)="finnishContract(sc.id)" class="mx-auto">Mark as done and collect</button>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col align-self-center">
              <ul class="pagination justify-content-center">
                <div *ngIf="previous;else elsePrevious">
                  <li class="page-item"> <a class="page-link" (click)="previousPage()"> Previous </a></li>
                </div>
                <ng-template #elsePrevious>
                  <li class="page-item disabled"> <a class="page-link"> Previous </a></li>
                </ng-template>
                <li class="page-item"><a class="page-link"> {{currentPage+1}} </a> </li>
                <div *ngIf="next;else elseNext">
                  <li class="page-item"> <a class="page-link" (click)="nextPage()"> Next </a></li>
                </div>
                <ng-template #elseNext>
                  <li class="page-item disabled"> <a class="page-link"> Next </a></li>
                </ng-template>
              </ul>
            </div>
        </div>
    </nb-layout-column>
    <nb-layout-footer></nb-layout-footer>
</nb-layout>