<nb-layout center>
    
        
    <nb-layout-column>   
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
        
            <h1 id="title" class="title">Login</h1>
            <p class="sub-title">Hello! Log in with your email.</p>
            
            
            <section class="another-action" aria-label="Register">
            Don't have an account? 
            <div class="d-flex flex-row my-5">
                <a class="text-link mr-3" routerLink="../regist/business">
                    <button nbButton>Register business</button>
                </a> 
                <a class="text-link mr-3" routerLink="../regist/provider">
                    <button nbButton>Register provider</button>
                </a>
            </div>
            </section>
              
            
        </nb-card-body>
    </nb-card>
    </nb-layout-column>
    <nb-layout-footer>
    </nb-layout-footer>
</nb-layout>
        
        