<nb-layout center>
    <nb-layout-column>
        <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
            <nb-card-body>

                <h1 id="title" class="title">Login</h1>
                <p class="sub-title">Hello! Log in with your email.</p>

                <nb-alert *ngIf="invalid" status="danger">{{invalid}}</nb-alert>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input 
                            nbInput
                            type="text"
                            style="max-width: 100%;" 
                            name="username"
                            placeholder="Enter your username" 
                            class="form-control"
                            formControlName="username"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input 
                            nbInput 
                            type="password"
                            style="max-width: 100%;" 
                            name="password"
                            placeholder="Enter your password"
                            class="form-control"
                            formControlName="password"
                            required
                        >
                    </div>

                    <div class="form-row">
                        <button 
                            nbButton 
                            [disabled]="!loginForm.valid"
                            class="w-100 mt-3"
                            type="submit"
                        >Log in</button>
                    </div>
                </form>

                
                
            </nb-card-body>
            <nb-card-footer>
                <div class="row">
                    <p class="sub-title ml-auto mr-auto">Don't have an account?</p>
                </div>
                
                <div class="row">
                    <div class="col-5 ml-auto">
                        <p>If you are a business regist <a style="color: black;" href="regist/business">here</a></p>
                    </div>
                    <div class="col-5 ml-auto">
                        <p>If you are a provider regist <a style="color: black;" href="regist/provider">here</a></p>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </nb-layout-column>
</nb-layout>