<nb-layout center>
    <nb-layout-header>
        <span class="navbar-text" style="text-align: center;width:100%;">
            Business Registration
        </span>
    </nb-layout-header>

    <nb-layout-column>
        <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
            <nb-card-body>
                <nb-stepper orientation="horizontal">
                    <nb-step [label]="labelTwo">
                        <ng-template #labelTwo>Account</ng-template>
                        <h3>Register Account</h3>
                        <p>For a greater commodity our platform allows logging in with google account.</p>
                        <div class="row" style="margin-top: 5%;">
                            <button nbButton nbStepperNext class="p-3 mx-auto col-5">
                                <img style="max-width: 20%; margin-right: 5%;" src="../../assets/images/google.png">
                                <span>Login with Google</span>
                            </button>
                        </div>
                    </nb-step>
                    <nb-step [label]="labelOne" [stepControl]="businessDataForm">
                        <ng-template #labelOne>Business data</ng-template>
                        <h3>Business data</h3>
                        <form [formGroup]="businessDataForm">

                            <div class="form-group">
                                <label for="fistName">Company name</label>
                                <input nbInput style="max-width: 100%;" placeholder="Enter the company"
                                    class="form-control" required formControlName="companyName">
                            </div>
                            <div class="form-group">
                                <label>VAT Number</label>
                                <input nbInput style="max-width: 100%;" placeholder="Enter your VAT"
                                    class="form-control" required formControlName="vat">
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input nbInput style="max-width: 100%;" placeholder="Enter your fiscal address"
                                    class="form-control" required formControlName="address">
                            </div>
                            
                            <div class="form-group">
                                <label>Country</label>
                                <nb-select class="col-12 p-0" style="max-width: 100%;" placeholder="" [(selected)]="selectedCountry">
                                    <nb-option value="0">Portugal</nb-option>
                                    <nb-option value="1">Spain</nb-option>
                                    <nb-option value="2">France</nb-option>
                                    <nb-option value="3">Germany</nb-option>
                                </nb-select>
                            </div>

                            <div class="form-group">
                                <label>Coverage</label>
                                <nb-select class="col-12 p-0" style="max-width: 100%;" placeholder="" [(selected)]="selectedCoverage">
                                    <nb-option value="0">Regional</nb-option>
                                    <nb-option value="1">National</nb-option>
                                    <nb-option value="2">Continental</nb-option>
                                    <nb-option value="3">Worldwide</nb-option>
                                </nb-select>
                            </div>
                            
                            <div class="form-group">
                                <label>Business area</label>
                                <nb-select class="col-12 p-0" style="max-width: 100%;" placeholder="" [(selected)]="selectedCategory">
                                    <nb-option value="0">Diverse</nb-option>
                                    <nb-option value="1">House maintenance</nb-option>
                                    <nb-option value="2">Human care</nb-option>
                                    <nb-option value="3">Cooking</nb-option>
                                </nb-select>
                            </div>


                            <div class="form-group">
                                <label>Operation date (prevision)</label>
                                <input nbInput style="max-width: 100%;"
                                    placeholder="Enter the date your business is expected to be operating"
                                    class="form-control" [nbDatepicker]="formpicker" formControlName="operationstart">
                                <nb-datepicker [min]="minDate" #formpicker></nb-datepicker>
                            </div>

                        </form>
                        <div class="row">
                            <button nbButton nbStepperPrevious class="ml-auto mr-3">previous</button>
                            <button nbButton nbStepperNext class="mr-auto ml-3">next</button>
                        </div>

                    </nb-step>
                    <nb-step [label]="labelTwo" class="">
                        <ng-template #labelTwo>API Token</ng-template>

                        <div class="d-flex flex-column" *ngIf="!tokenGenerated">
                            <h3>Almost there...</h3>
                            <p>The last step to integrate your business with our service it to generate an API Token.</p>
                            <p>This token is going to be used by your app in order itself to the API.</p>
                            
                            <nb-alert status="warning">
                                Attention! You will only be able to see the token once. Generate it only when you have a safe place to store it.
                            </nb-alert>
    
                            <button 
                                nbButton 
                                (click)="generateToken()"
                                class="mx-auto mb-3"
                            >Generate token</button>

                            <div class="row">
                                <button nbButton nbStepperPrevious class="mx-auto">previous</button>
                            </div>
                        </div>

                        <div *ngIf="tokenGenerated">
                            <p>Your token has been generated successfully and is shown below!</p>
                            <nb-alert outline="success" class="my-5 text-center">
                                ULab6..PzmKj4!;$&@Yw`+s4tun04
                            </nb-alert>
                            <p>You must use it every time your app calls the API. See how in the <a>documentation</a>.</p>
                            <p>You can now access the dashboard and monitor your app stats. To do so press FINISH.</p>
                            
                            <div class="row">
                                <button nbButton (click)="revertToken()" class="ml-auto mr-3">previous</button>
                                <button nbButton (click)="finishRegister()" class="mr-auto ml-3">finnish</button>
                            </div>
                        </div>

                    </nb-step>

                </nb-stepper>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-footer><a routerLink="/login">Return to Login Page</a></nb-layout-footer>
</nb-layout>